<app-header></app-header>

<div class="container__main">
  <div class="container__double__card">
    <div class="container__master__information">
      <!-- User Informations -->
      <div class="container__user__informations">
        <div class="user__information">
          <span class="label__user__information">
            User informations
          </span>
        </div>
      </div>
      <!-- Form -->
      <div class="container__form">
        <form class="form" [formGroup]="formEpicEmail">
          <div style="display: flex; flex-direction: column; width: 100%;">
            <input type="text" placeholder="Insert Epic ID" formControlName="epic">
            <div style="justify-content: center; width: 100%; display: flex;color:red;"
              *ngIf="formEpicEmail.controls.epic.invalid && formEpicEmail.controls.epic.touched">
              <span>Required field</span>
            </div>
          </div>
          <div style="display: flex; flex-direction: column; width: 100%;">
            <input type="text" placeholder="Insert Email" formControlName="email">
            <div style="justify-content: center; width: 100%; display: flex;color:red;"
              *ngIf="formEpicEmail.controls.email.invalid && formEpicEmail.controls.email.touched">
              <span>Enter a valid email</span>
            </div>
          </div>
        </form>
      </div>
      <!-- Warning -->
      <div class="container__warning">
        <div class="warning">
          <i class="fas fa-exclamation-triangle"></i>
          <span class="label__warning">
            <span style="color: red;">WARNING! &nbsp;</span>We’re currently selling items only on PC.<br>
            <span style="color: red;">- Do not buy if you’re on XBOX/PSN/SWITCH.</span><br>
            - Player must have purchased 500 credits or Esport Token and have 2FA to unlock trading with other
            player.<br>
            - Player’ID must be the same, otherwise we cannot trade.
          </span>
        </div>
      </div>
      <!-- Paymants -->
      <div class="container__paymants">
        <div class="paymants">
          <!-- PayPal -->
          <div *ngIf="formEpicEmail.controls.email.invalid || formEpicEmail.controls.epic.invalid"
            style="color: red; display: flex; justify-content: center;">
            <span>Fill the Epic and email fields</span>
          </div>
          <div class="paypal" [ngClass]="{'disabled': !this.disabledPaypal}" #paypal></div>
        </div>
      </div>
      <!-- Info -->
      <div class="container__info">
        <div class="info">
          <span class="label__info">
            Once we reveice the payments, we will add the player as soon as possible. Check <a style="color: red;"
              href="receive-item-faster">this article</a> to see how you
            can receive your items faster. We also strongly recommend to join our Discord server. There you cant contact
            and talk direclty to the traders that will deliver your orders.
          </span>
        </div>
      </div>
    </div>

    <!-- Detail Cart -->
    <div class="container__detail__cart">
      <div class="detail__cart">
        <div class="detail" *ngFor="let c of authService.dataList">
          <div class="container__items">
            <div class="image" (click)="onClickRemoveItems(c.Id)">
              <img src="{{c.image}}">
            </div>
            <div class="crediti">
              {{c.crediti}}
            </div>
            <div class="euro">
              {{c.euro}}€
            </div>
          </div>
        </div>
      </div>
      <div class="container__totale" [ngClass]="{'relative': index == true, 'absolute': index == false}">
        <div class="totale">
          <div class="label">Total</div>
          <div class="total">{{all | number : '1.2-2'}}€</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="paidFor">
  <h1>Pagamento riuscito</h1>
</div>
