<app-header></app-header>

<div class="container__main">
  <div class="container__double__card">
    <div class="container__master__information">
      <!-- User Informations -->
      <div class="container__user__informations">
        <div class="user__information">
          <span class="label__user__information">
            User informations
          </span>
        </div>
      </div>
      <!-- Form -->
      <div class="container__form">
        <form class="form" [formGroup]="formEpicEmail">
          <input type="text" placeholder="Insert Epic ID" formControlName="epic">
          <input type="text" placeholder="Insert Email" formControlName="email">
        </form>
      </div>
      <!-- Warning -->
      <div class="container__warning">
        <div class="warning">
          <i class="fas fa-exclamation-triangle"></i>
          <span class="label__warning">
            <span style="color: red;">WARNING! &nbsp;</span>We’re currently selling items only on PC.<br>
            <span style="color: red;">- Do not buy if you’re on XBOX/PSN/SWITCH.</span><br>
            - Player must have purchased 500 credits or Esport Token and have 2FA to unlock trading with other
            player.<br>
            - Player’ID must be the same, otherwise we cannot trade.
          </span>
        </div>
      </div>
      <!-- Paymants -->
      <div class="container__paymants">
        <div class="paymants">
          <!-- PayPal -->
          <div class="card__paymants">
            <div class="label__paymant"
              (click)="onClickPaymant(all, formEpicEmail.controls.epic.value, formEpicEmail.controls.email.value)">
              <i class="fab fa-paypal"></i>
              <span class="label__paymant__card">
                Paypal
              </span>
            </div>
          </div>
          <!-- Credit Card -->
          <div class="card__paymants">
            <div class="label__paymant"
              (click)="onClickPaymant(all, formEpicEmail.controls.epic.value, formEpicEmail.controls.email.value)">
              <i class="far fa-credit-card"></i>
              <span class="label__paymant__card">
                Credit Card
              </span>
            </div>
          </div>
          <!-- Crypto -->
          <div class="card__paymants">
            <div class="label__paymant"
              (click)="onClickPaymant(all, formEpicEmail.controls.epic.value, formEpicEmail.controls.email.value)">
              <svg class="crypto" width="29" height="46" viewBox="0 0 29 46" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M28.266 23.4312L14.5001 31.7688L0.725098 23.4312L14.5001 0L28.266 23.4312ZM14.5001 34.4461L0.725098 26.1086L14.5001 46L28.2751 26.1086L14.5001 34.4461Z"
                  fill="black" />
              </svg>
              <span class="label__paymant__card">
                Crypto
              </span>
            </div>
          </div>
        </div>
      </div>
      <!-- Info -->
      <div class="container__info">
        <div class="info">
          <span class="label__info">
            Once we reveice the payments, we will add the player as soon as possible. Check <span style="color: red;">this article</span>  to see how you
            can receive your items faster. We also strongly recommend to join our Discord server. There you cant contact
            and talk direclty to the traders that will deliver your orders.
          </span>
        </div>
      </div>
    </div>

    <!-- Detail Cart -->
    <div class="container__detail__cart">
      <div class="detail__cart">
        <div class="detail" *ngFor="let c of authService.dataList">
          <div class="container__items">
            <div class="image" (click)="onClickRemoveItems(c.Id)">
              <img src="{{c.image}}">
            </div>
            <div class="crediti">
              {{c.crediti}}
            </div>
            <div class="euro">
              {{c.euro}}€
            </div>
          </div>
        </div>
      </div>
      <div class="container__totale" [ngClass]="{'relative': index == true, 'absolute': index == false}">
        <div class="totale">
          <div class="label">Total</div>
          <div class="total">{{all | number : '1.2-2'}}€</div>
        </div>
      </div>
    </div>
  </div>
</div>
