<app-header></app-header>

<div class="container__main">
  <div class="container__double__card">
    <!-- User Informations -->
    <div class="container__user__informations">
      <div class="user__information">
        <span class="label__user__information">
          User informations
        </span>
      </div>
    </div>

    <!-- Detail Cart -->
    <div class="container__detail__cart">
      <div class="detail__cart">
        <div class="detail" *ngFor="let c of authService.dataList">
          <div class="container__items">
            <div class="image" (click)="onClickRemoveItems(c.Id)">
              <img src="{{c.image}}">
            </div>
            <div class="crediti">
              {{c.crediti}}
            </div>
            <div class="euro">
              {{c.euro}}€
            </div>
          </div>
        </div>
      </div>
      <div class="container__totale" [ngClass]="{'relative': index == true, 'absolute': index == false}">
        <div class="totale">
          <div class="label">Total</div>
          <div class="total">{{all | number : '1.2-2'}}€</div>
        </div>
      </div>
    </div>
  </div>
</div>
