.container__border__card {
  display: flex;
  width: 100%;
  height: auto;
}

.border__card {
  display: flex;
  width: 97%;
  height: auto;
  margin: 0 auto;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.37);
  border-radius: 25px;
  border: 1px solid white;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  opacity: 0.3;
  margin-bottom: 30px;
}

.container__card {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  width: 100%;
  gap: 20px;
}

.card {
  display: block;
  width: 200px;
  margin: 25px;
  height: 200px;
  background: linear-gradient(
    135deg,
    rgb(232 7 7) 0%,
    rgba(252, 252, 252, 0) 100%
  );
  border: 1px solid #fffefe;
  border-radius: 25px;
}

@media screen and (max-width: 1300px) {

}

@media screen and (max-width: 768px) {

}
@media screen and (max-width: 500px) {
  .border__card {
    width: 93%;
    margin: 0 auto 20px auto;
  }

  .container__card {
    justify-content: initial;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: space-between;
    border-radius: 20px;
    background-color: transparent;
    background: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(15px);
    border-radius: 25px;
  }

  .card {
    width: 95%;
    margin: 20px auto 8px auto;
  }
}
