<div class="container__border__card">
  <div class="border__card">
    <!-- Card -->
    <div class="container__card">
      <div class="card" *ngFor="let r of response">
        <div class="container__items">
          <div class="container__image">
            <img src="{{r.image}}" class="image">
            <div class="label">
              <span class="amount">{{r.amount}}</span>
            </div>
          </div>
          <div class="container__euro">
            <span class="euro">{{r.euro}}€</span>
          </div>
          <div class="container__button">
            <div class="button" [ngClass]="{'disabledButton': authService.buttonClicked}"
              (click)="onClickBuy(r.id, r.euro, r.amount, r.image, r.nome)">
              <span class="label__buy" *ngIf="!showOut">Buy</span>
              <span class="label__buy" *ngIf="showOut">Out of stock</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container__card__info">
      <div class="card__info">
        <div class="container__items">
          <div class="title__card__info">
            <img class="imageSell" src="./../../../assets/selltous.png">
          </div>
          <div class="description__card__info">
            <span class="span__description__card__info">
              Join our Discord server <br>
              In <span style="color: #FF006E;">#sell-to-us</span> channel you can tag a <span
                style="color: #6A00FF;">@Trader</span><br>
              <br>
              We can pay with <span style="color: #2400FF;">PayPal</span> or <span
                style="color: #FFC83A;">Cryptocurrency</span>.<br>
              <br>
              Read <span style="color: #FF006E;">#sell-to-us-prices</span> to check what are we buying and the price we
              offer.<br>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
