.container__border__card {
  display: flex;
  width: 100%;
  height: auto;
}

.border__card {
  display: flex;
  justify-content: space-between;
  width: 94%;
  height: auto;
  margin: 0 auto;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.37);
  border-radius: 25px;
  border: 1px solid white;
  // -webkit-backdrop-filter: blur(5px);
  // backdrop-filter: blur(5px);
  margin-bottom: 30px;
}

.container__card {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  height: 200px;
  margin-left: 20px;
  gap: 20px;
}

.card {
  display: flex;
  width: 200px;
  margin: 20px auto;
  height: 200px;
  background: linear-gradient(
    135deg,
    rgba(252, 252, 252, 0.35) 0%,
    rgba(252, 252, 252, 0) 100%
  );
  border: 1px solid #ffffff;
  border-radius: 25px;
}

.container__card__info {
  display: flex;
  width: 100%;
  position: relative;
  justify-content: flex-end;
}

.card__info {
  width: 100%;
  background: red;
  height: 730px;
  display: flex;
  border-radius: 20px;
  margin: 20px;

  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.1225) 0%,
    rgba(255, 255, 255, 0.07) 100%
  );
  // mix-blend-mode: normal;
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 25px;
}

.container__items {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 10px auto;
  // background: blue;
  border-radius: 20px;
}

.container__image {
  display: flex;
  width: 100%;
  height: 70px;
}

.image {
  width: 74px;
  height: 70px;
}

.label {
  display: flex;
  justify-content: center;
  margin-left: 31px;
  margin-top: -10px;
  align-items: center;
}

.amount {
  font-size: 25px;
}

.container__euro {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 12px;
}

.euro {
  font-size: 30px;
  font-weight: bold;
}

.container__button {
  display: flex;
  margin: auto;
  z-index: 2;
}

.button {
  width: 149px;
  height: 48px;
  background: linear-gradient(
    90deg,
    rgba(255, 0, 110, 0.85) 0%,
    rgba(131, 56, 236, 0.85) 49.48%,
    rgba(58, 134, 255, 0.85) 100%
  );
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 25px;
  cursor: pointer;

  &:hover {
    background: linear-gradient(
      90deg,
      rgba(165, 3, 73, 0.85) 0%,
      rgba(64, 16, 131, 0.85) 49.48%,
      rgba(13, 64, 146, 0.85) 100%
    );

    .label__buy {
      color: white;
    }
  }
}

.label__buy {
  display: flex;
  justify-content: center;
  font-family: Electrolize;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 42px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 1485px) {
  .container__card__info {
    display: none;
  }
  .card__info {
    display: none;
  }
  .container__card {
    height: initial;
    margin: 0 auto;
  }
  .border__card {
    justify-content: initial;
  }
}
@media screen and (max-width: 960px) {
  .container__card {
    grid-template-columns: auto auto auto;
    margin-left: 0px;
    margin: auto;
  }
}
@media screen and (max-width: 720px) {
  .container__card {
    grid-template-columns: auto auto;
    margin-left: 0px;
    margin: auto;
  }
}
@media screen and (max-width: 500px) {
  .border__card {
    width: 93%;
    margin: 0 auto 20px auto;
  }

  .container__card {
    grid-template-columns: auto;
    margin: 0 auto;
    width: 100%;
  }

  .card {
    width: 100%;
    margin: 20px auto 8px auto;
    background: linear-gradient(
      310deg
      ,#dadbdf 30%,#0000 0),linear-gradient(
      340deg
      ,#0000 58%,#fff 0), #f8f8f6!important;
    border: 1px solid #8338ec;
    border-radius: 25px;
  }

  .container__image {
    justify-content: center;
  }
}
