.container__header {
  display: flex;
  width: 100%;
}

.header {
  display: flex;
  width: 93%;
  margin: 30px auto;
  height: 70px;
  border: 1px solid white;
  align-items: center;
  padding: 15px;
  border-radius: 20px;
  background: linear-gradient(90deg, rgba(255, 255, 255, .6) 0%, rgba(255, 255, 255, .1) 80%) ;
}

.container__button {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.container__hamburger {
  display: none;
  width: 100%;
  justify-content: flex-end;
  margin: auto 10px;
}

.button__container {
  justify-content: space-between;
  display: flex;
  width: 253px;
}

.button {
  height: 40px;
  border: 1px solid white;
  border-radius: 13px;
  cursor: pointer;

  &:hover {
    background: rgba(255, 255, 255, 0.329);

  }
}

.item {
  display: flex;
  align-items: center;
  height: 39px;
  padding: 0px 15px;
  font-size: 12px;
}

.label {
  font-size: 36px;
  font-weight: bold;
  background: -webkit-linear-gradient(124deg, rgba(58,134,255,1) 0%, rgba(255,0,110,1) 93%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 620px) {
  .container__hamburger {
    display: flex;
  }

  .header {
    padding: 0px 0px;
  }

  .button__container {
    display: none;
  }

  .button {
    display: none;
  }

  .labeltext {
    font-size: 25px;
  }

  .label {
    height: 47px;
  }

  .logo {
    zoom: 70%;
  }

  .fa-bars,
  .fa-times {
    width: 20px;
    height: 20px;
  }
}
