.container__header {
  display: flex;
  width: 100%;
}

.header {
  display: flex;
  width: 95%;
  margin: 30px auto;
  height: 100px;
  border: 1px solid white;
  align-items: center;
  border-radius: 20px;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.6) 0%,
    rgba(255, 255, 255, 0.1) 80%
  );
  box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.container {
  display: flex;
  width: 95%;
  margin: 10px auto 10px auto;
  align-items: center;
}

.container__button {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.container__hamburger {
  display: none;
  width: 100%;
  justify-content: flex-end;
  margin: auto 10px;
}

.button__container {
  justify-content: space-between;
  display: flex;
  width: 250px;
  align-items: center;
}

.button {
  height: 40px;
  border: 1px solid white;
  border-radius: 13px;
  cursor: pointer;

  &:hover {
    background: rgba(255, 255, 255, 0.329);
  }
}

.item {
  display: flex;
  align-items: center;
  height: 39px;
  padding: 0px 15px;
  font-size: 12px;
}

.label {
  font-size: 36px;
  font-weight: bold;
  background: -webkit-linear-gradient(
    124deg,
    rgba(58, 134, 255, 1) 0%,
    rgba(255, 0, 110, 1) 93%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 15px;
}

.container__items {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.items {
  width: 93%;
  margin: 0 auto;
  border: 1px solid white;
  border-radius: 12px;
  margin-bottom: 30px;
  height: 40px;
  align-items: center;
  justify-content: center;
  margin-top: -25px;
  background: linear-gradient(
    90deg,
    rgba(250, 230, 230, 0.6) 0%,
    rgba(255, 255, 255, 0.1) 80%
  );
}

.item__menu {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 38px;
  cursor: pointer;
}

@media screen and (min-width: 1024px) {

}

@media screen and (max-width: 620px) {
  .container__hamburger {
    display: flex;
    z-index: 2;
  }

  .header {
    padding: 0px 0px;
    width: 93%;
  }

  .button__container {
    display: none;
  }

  .button {
    display: none;
  }

  .labeltext {
    font-size: 25px;
  }

  .label {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 94%;
    z-index: 1;
  }

  .logo {
    zoom: 82%;
    margin-top: 9px;
  }

  .fa-bars,
  .fa-times {
    width: 20px;
    height: 20px;
  }

  .pallina {
    display: none;
  }
}
