// Moon

.moon {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.container {
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #191919;
  text-align: center;
  border-radius: 8px;
}

.breadcrumbs {
  text-decoration: none;
}

.box  h1{
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}
.box input[type = "email"], .box input[type = "password"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}

.box input[type = "email"]:focus, .box input[type = "password"]:focus {
  width: 250px;
  border-color: #2ecc71;
}

.box button {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}

.box button:hover {
  background: #2ecc71;
}


// Social

@keyframes social {
  0% {
    left: -110%;
    top: 90%;
  } 50% {
    left: 10%;
    top: -30%;
  } 100% {
    left: -10%;
    top: -10%;
  }
}


// Modal success
.container__modal__success {
  display: flex;
  width: 100%;
  position: absolute;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.modal__success {
  display: flex;
  width: 90%;
  height: 50px;
  border-radius: 8px;
  border: 1px solid #ffffff;
  background: #ffffff54;
  align-items: center;
  justify-content: center;
}

.label {
  font-size: 24px;
  color: rgba(114, 113, 113, 0.829);
}


@media only screen and (max-width: 415px) {
  .container {
    width: 70%;
  }
  .box input[type = "email"]:focus, .box input[type = "password"]:focus {
    width: 225px;
  }
}
