<app-header></app-header>

<div class="container__main">
  <div class="main">
    <!-- Left -->
    <div class="container__left">
      <div class="container__title__left">
        <div class="container__left__items">
          <div class="title">
            <span class="span__left">Receive your items faster!</span>
          </div>
          <div class="description__left">
            <span class="span__description">First, join our Discord server
              Before buying, check if there’s some <span style="color: red;">@Official Trader</span> online. This will
              help reducing delivering
              time.
            </span>
          </div>
          <div class="logo__left">
            <img src="./../../../assets/ot 1.png" alt="">
          </div>
        </div>
        <!-- Rigth -->
        <div class="container__right__items">
          <div class="image__container">
            <img src="./../../../assets/rders 1.png">
            <img class="image3" src="./../../../assets/immagine_2021-08-23_214552.png">
          </div>
          <!-- Description Rigth -->
          <div class="description__rigth__container">
            <span>If one or more @Official Trader are online and you’re still waiting to receive your items, go to
              <span style="color: white;"> #ready-to-receive</span> and tag an Official Trader by typing “@Official
              Trader”. You will be DMed as soon as
              possible. <br>
              <span style="color: red;">Make sure to be online on Rocket League and have enough space in your friend
                list to accept our friend
                request.</span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Rigth Mobile -->
  <div class="container__right__items__mobile">
    <div class="image__container__mobile">
      <img src="./../../../assets/rders 1.png">
      <img class="image3__mobile" src="./../../../assets/immagine_2021-08-23_214552.png">
    </div>
    <!-- Description Rigth -->
    <div class="description__rigth__container__mobile">
      <span class="span__rigth__mobile">If one or more @Official Trader are online and you’re still waiting to receive
        your items, go to
        <span style="color: rgb(72, 236, 31);"> #ready-to-receive</span> and tag an Official Trader by typing “@Official
        Trader”. You will be DMed as soon as
        possible. <br>
        <span style="color: red;">Make sure to be online on Rocket League and have enough space in your friend list to
          accept our friend
          request.</span>
      </span>
    </div>
  </div>

  <!-- Second card desktop -->
  <div class="main">
    <div class="container__second__card">
      <div class="title --hide">
        <span class="span__left">Receive your items faster!</span>
      </div>
      <!-- Description Second Card -->
      <div class="container__description__second__card">
        <span class="label__description__second__card">When an @Official Trader will message you, he/her will ask for
          your order number/Rocket ID.
          Remember, @Official Trader will never ask you to make a payment or to give items. Beware of scammers.
        </span>
      </div>
      <!-- Image3 -->
      <div class="container__image__3">
        <img src="./../../../assets/msg3 1.png">
      </div>
    </div>
  </div>
</div>
